<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wish.library.board.mapper.ProBoardMapper">

    <!-- 프로그램 게시글 전체 조회 -->
    <select id="getList" resultType="com.wish.library.board.domain.ProBoardVO">
        select proBno, title, content, writer, replyCnt, regDate, updateDate
        from pro_board
    </select>

    <!--게시글 하나 조회 -->
    <select id="getOne" resultType="com.wish.library.board.domain.ProBoardVO">
        <![CDATA[
        select proBno, title, content, writer, replyCnt, regDate, updateDate
        from pro_board
        where proBno = #{proBno}
        ]]>
    </select>

</mapper>